body {
  margin: 0;
  padding: 80px 120px;
  background: #F2EDEB;
  font-family: "Libre Bodoni", serif;
  line-height: 1.8;
  font-size: 20px;
overflow-x: hidden;
overflow-y: auto;
}

.article {
  max-width: 700px;
  cursor: pointer;
  font-family:"Instrument Serif";
  color:#8D5B4C;
}

.letter {
  display: inline-block;
  transition: transform 1.5s ease, opacity 1.5s ease;
}
.topbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:50px;
  background:#8D5B4C;
}
.back{
  position:absolute;
  left:20px;
  top:50%;
  transform:translateY(-50%);
  width:15px;      
  height:auto;
}
.back:hover {
  opacity: 0.7;
}

.home{
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  font-size:22px;
  width: 35px;
}
a,
button,
.center-circle,
.text-ring,
body,
svg * {
  cursor: url("img/brownbmouse.png"), auto;
}
* {
  cursor: url("img/brownbmouse.png") 16 16, auto;
}
.clickhint {
  position: fixed;
  top: 200px;
  right: 200px;
  width: 200px;
  z-index: 999;

  animation: float 3s ease-in-out infinite;
  transition: opacity 0.8s ease;
}

/* 上下浮动动画 */
@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

/* 消失状态 */
.click-hint.hide {
  opacity: 0;
  pointer-events: none;
}
.letter {
  display: inline-block;
  transition: transform 1.5s ease, opacity 1.5s ease;
}



.clickhint.hide {
  opacity: 0;
  pointer-events: none;
}
