
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  width:100vw;
  height:100vh;
  background:#f9e2aa;
  font-family: Arial, sans-serif;
  overflow:hidden;
}


.topbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:50px;
  background:#f9b30e;
}
.back{
  position:absolute;
  left:20px;
  top:50%;
  transform:translateY(-50%);
  width:15px;      
  height:auto;
}
.back:hover {
  opacity: 0.7;
}

.home{
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  font-size:22px;
  width: 35px;
}

.scene{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:500px;
  height:500px;
}
.center-circle{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:500px;
  height:500px;
  border-radius:50%;
  background:#ddd;
}


.text-ring{
  position: absolute;
  top: 50%;
  left: 50%;

  width: 650px;
  height: 650px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 48px;
  fill: #8D5B4C;
  letter-spacing: 1.5px;
  animation: spin 20s linear infinite;
   font-family: "Instrument+Serif";

  transform: translate(-50%, -50%) rotate(-90deg);
}
.text-ring:hover {
  animation-play-state: paused;
  cursor: pointer;
}


@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(270deg);
  }
}
a,
button,
.center-circle,
.text-ring,
body,
svg * {
  cursor: url("img/blueymouse.png"), auto;
}
