
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #ebdce1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.top-bar {
    width: 100%;
    height: 50px;
    background-color: #8D5B4C;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.sound {
    width: 30px;
    height: 30px;

}

.content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 40px 60px 40px;
}

.info-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #8D5B4C;
    line-height: 1.4;
    margin-bottom: 20px;
   font-family: "Libre Bodoni", serif;
}

.center-circle{
  width: 260px;       
  height: 260px;
  border-radius: 50%;

  background-image: url("img/kaleidoscope copy 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0 auto;
}
.circle-link:hover {
  opacity: 0.7;
}


.title-container {
    text-align: center;
     margin-bottom: 20px;
     font-family: "Libre Bodoni", serif;
     color: #8D5B4C;
     
}

.title-container h1 {
    font-size: 90px;
    margin: 0;
    font-weight: 500;
    
}

.title-container h2 {
    font-size: 80px;
    font-weight: 400;
    margin: 0%;
}
a,
button,
.center-circle,
.text-ring,
body,
svg * {
  cursor: url("img/brownymouse.png"), auto;
}
